html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
}

dl {
  font-style: italic;
  font-weight: normal;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: .75rem;
  grid-template-areas:
    "banner banner banner"
    "image1 image2 image3"
}

body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner, .text {
  grid-area: banner;
}

figure {
  margin-left: 0;
  margin-right: .75rem;
  margin-top: .75rem;
  margin-bottom: 1rem;
}

figcaption {
  line-height: 1.5rem;
  gap: .75rem;
}
.banner {
  position: relative;
  text-align: left;
  color: white;
}

.text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  margin-bottom: 1.5rem;
}

.text h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.text p {
  margin-top: 0;
  margin-bottom: 0;
}
